.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.portfolio li a {
    color: white;
    text-decoration: none;
    margin-bottom: .5rem;
}

.portfolio li a:hover {
    text-decoration: underline;
}
