.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools h3 {
    margin-bottom: .5rem;
}

.skills .personal h3 {
    margin: .5rem 0 .5rem 0;
}

.tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tools li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 .5rem;
}

.personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.personal li {
    padding: 0 .5rem .5rem 0;
}

@media screen and (min-width: 765px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills .personal h3 {
        margin-top: 0;
    }
    
}
